/frases.txt/nbproject/private/
/frases.txt/build/
/Unidad 08/pr_Tema08/nbproject/private/
/prTema8_Ejercicios/nbproject/private/
/ej_Explicacion_31-03/nbproject/private/
/ej_Relacion2_Ficheros_MiniTerminal/nbproject/private/
/Unidad 07/PROG07_Tarea_2023_24_Alumnado/nbproject/private/
/Unidad 08/ej_A_Unidad08/nbproject/private/
/ej_RelacionB_Unidad08/nbproject/private/
